[submodule "Transcendence-back"]
	path = Transcendence-back
	url = https://github.com/TranscendenceProject/Transcendence-back.git
[submodule "Transcendence-front"]
	path = Transcendence-front
	url = https://github.com/TranscendenceProject/Transcendence-front.git
